/*Nav*/

.nav{
  z-index: 3;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #F6F6F6;
  height: 10%;
  width: 100%;
  border: solid #F6F6F6 4px;
  border-bottom: none;
  position: fixed;
}

.logo{
  margin-top: -13px;
  margin-left: -5px;
  height: 100px;
  width: 100px;
}

/*Icons Nav*/

.fa-shopping-cart{
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 20px;
  color: #262626;
  transition: color 0.5s ease-in;
}

.fa-search{
  position: absolute;
  right: 60px;
  font-size: 30px;
  padding: 20px;
  color: #262626;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.fa-user{
  position: absolute;
  right: 120px;
  font-size: 30px;
  padding: 20px;
  color: #262626;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.fas:hover{
  color: #D92332;
}

/*Search Bar*/

.search-input-div{
  height: 50px;
  width: 100px;
  top: 70px;
  right: 100px;
  position: fixed;
  z-index:99;
  visibility: hidden;
}

input[type="submit"] {
    height: 30px;
    width: 60px;
    background: green;
    color: white;
    border: 0;
    top:70px;
    right: 10px;
    -webkit-appearance: none;
    position: fixed;
    z-index:99;
}

/*User Menu*/

.user-div{
  padding-top: 15px;
  height: auto;
  width: 150px;
  line-height: 2;
  border: solid 0.5px black;
  background-color: white;
  border-radius: 5px;
  top: 70px;
  right: 100px;
  position: fixed;
  z-index:99;
  opacity: 0;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.user-div ul{
  list-style: none;
}

.user-a{
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.user-a:hover{
  color: #D92332
}