body,html{
  margin: 0;
  padding: 0;
  /*overflow-y:auto;*/
}

body{
  height: 100%;
  min-height: 100%;
}

/*Nav*/

.nav{
  z-index: 3;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #222831;
  height: 80px;
  width: 100%;
  border-bottom: none;
  position: fixed;
}

.nav i{
  margin-top: 10px;
}

.logo{
  margin-top: -13px;
  margin-left: -5px;
  height: 100px;
  width: 100px;
}

/*Icons Nav*/

.fa-shopping-cart{
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 20px;
  color: #F4FFFD;
  transition: color 0.3s ease-in;
}

.fa-search{
  position: absolute;
  right: 60px;
  font-size: 30px;
  padding: 20px;
  color: #F4FFFD;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.fa-user{
  position: absolute;
  right: 120px;
  font-size: 30px;
  padding: 20px;
  color: #F4FFFD;
  transition: color 0.3s ease-in;
  cursor: pointer;
}

.fas:hover{
  color: #D92332;
}

/*.cart-n{*/
/*  border:none;*/
/*  background-color: red;*/
/*  border-radius: 50%;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  font-family:'Roboto', sans-serif;*/
/*  height: 25px;*/
/*  width: 25px;*/
/*  top:15px;*/
/*  right: 5px;*/
/*  position:fixed;*/
/*  z-index: 99;*/
/*}*/

/*Categories*/


.dropbtn {
  background-color: #222831;
  color: #F4FFFD;
  padding: 16px;
  font-size: 23px;
  border: none;
}

.dropdown {
  margin-left: 100px;
  position: fixed;
  display: inline-block;
  z-index: 99;
  margin-top: 12px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content a {
  color: #D92332;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight:bold;
}

.dropdown-content a:hover {
  background-color: #D92332;
  color: white;
}

.dropdown:hover .dropdown-content{
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #D92332;
}

/*Search Bar*/

.search-input-div{
  height: auto;
  width: auto;
  top: 90px;
  right: 68px;
  position: fixed;
  z-index:99;
  visibility: hidden;
}

.search-item-input{
  height: 30px;
  width: 200px;
  right: 70px;
  border:solid #7db700;
  outline: none;
}

.search-input-div input[type="submit"]{
  text-align:center;
  height: 30px;
  width: 70px;
  background: #7db700;
  color: white;
  border: 0;
  top: 90px;
  right: 10px;
  -webkit-appearance: none;
  position: fixed;
  z-index:99;
  border:solid #7db700;
}

.search-input-div input[type="submit"]:hover{
  color: #7db700;
  border:solid #7db700;
  background-color: white;
}

/*User Menu*/

.user-div{
  height: auto;
  width: 150px;
  line-height: 2;
  background-color: #f1f1f1;
  top: 70px;
  right: 80px;
  position: fixed;
  z-index:99;
  display:none;
  opacity: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.user-a{
  font-weight: bold;
  text-decoration: none;
  color: #D92332;
  font-size: 15px;
  display:block;
  padding: 16px;
}

.user-a:hover{
  color: white;
  background-color: #D92332;
}


/*Footer*/

footer{
  position:sticky;
  width: 100%;
  margin-top: 80px;
  height: 130px;
  text-align: center;
}

.footer{
  position: sticky;
  height: 130px;
  width: 100%;
  background-color: #F22929;
  font-family: 'Roboto', sans-serif;
  z-index: 1;
  overflow: hidden;
}

.footer-img{
  height:150px;
  position: absolute;
  left: 50px;
  bottom: 0;
  z-index:3;
}

.footer p{
  line-height: 140px;
  font-weight: bold;
  color: white;
}