.wrapper{
  margin-top: 100px;
}

td{
  width: 20em;
}

p{
  font-size: 18px;
}

table{
 border-collapse:separate;
 border-spacing: 10px;

}

.spacing-table th {
  text-align: left;
  padding-bottom: 10px;
}

.itm-img{
  width: 100px;
  height: 100px;
  overflow:hidden;
}

.itm-img img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.quantity{
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
}

.plus-minus{
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  text-align: center;
  margin-bottom:5px;
  padding: 0px;
  background-color: #FF4848;
  font-size: 10px;
}

.delete-itm{
  width: 10%;
  float: right;
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.delete-itm:hover{
  color: #CD1818;
}




