.wrapper{
  margin-top: 100px;
}

td{
  width: 20em;
}

p{
  font-size: 18px;
}

table{
 border-collapse:separate;
 border-spacing: 10px;

}

.spacing-table th {
  text-align: left;
  padding-bottom: 10px;
}

/*Img*/

.itm-img{
  width: 100px;
  height: 100px;
  overflow:hidden;
}

.itm-img img{
  width: 100px;
  height: 100px;
  object-fit: fill;
}

/*Quantity buttons*/

.quantity{
  margin-top: 35px;
  height: 34px;
  width: 40px;
  border: solid 1px grey;
  text-align: center;
  font-size: 18px;
}

.plus-minus{
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: white;
  border: solid 1px grey;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-bottom:45px;
}

.minus:hover{
  color: #F22929;
  border-color: #F22929;
}

.plus:hover{
  color: #7db700;
  border-color: #7db700;
}

/*Delete entry button*/

.delete-itm{
  width: 10%;
  float: right;
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.delete-itm:hover{
  color: #CD1818;
}




