/*Loadin div*/

.loading-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.loadingimage {
  position: absolute;
  color: #fff;
  font-size: 55px;
  top: 55px;
  left: 55px;
  transform: translate(-50%, -50%);
}

.loadingimage > img{
  width:80px;
  margin-top:10px;
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 5s linear infinite;
}

.success {
  background-color: #4BB543;
  border: 2.5px dashed #4BB543;
}

.error {
  background-color: #CA0B00;
  border: 2.5px dashed #CA0B00;
}

.warning {
  background-color: #F0D500;
  border: 2.5px dashed #F0D500;
}

.info{
  background-color: #00ADF0;
  border: 2.5px dashed #00ADF0;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.page-wrapper {
  height: 100vh;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*//////////////////////////////*/

.wrapper{
  margin-top: 100px;
  font-family: 'Roboto',sans-serif;
}

td{
  width: 20em;
  height: 5em;
}

p{
  font-size: 18px;
}

table{
 border-collapse:separate;
 border-spacing: 10px;

}

.spacing-table th {
  text-align: left;
  padding-bottom: 10px;
}

/*Img*/

.itm-img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow:hidden;
}

.itm-img img{
  width: 100px;
  height: 100px;
  object-fit: fill;
}

/*Quantity buttons*/

.quantity{
  margin-top: 35px;
  height: 34px;
  width: 40px;
  border: solid 1px grey;
  text-align: center;
  font-size: 18px;
}

.plus-minus{
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: white;
  border: solid 1px grey;
  font-size: 18px;
  transition: all 0.3s ease;
  margin-bottom:45px;
}

.minus:hover{
  color: #F22929;
  border-color: #F22929;
}

.plus:hover{
  color: #7db700;
  border-color: #7db700;
}

/*Update button*/

.update-btn{
  background-color: white;
  border-radius: 0;
  border-color:#7db700;
  transition: all 0.5s ease;
  color:#7db700;
  font-size: 20px;
  border:solid 1px;
  height: 40px;
}

.update-btn:hover{
  background-color: #7db700;
  color:white;
}

/*Delete entry button*/

.delete-itm{
  width: 10%;
  float: right;
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.delete-itm:hover{
  color: #CD1818;
}




