body, html{
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  background-color: #262626;
}

/*Nav*/

.nav{
  z-index: 3;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #262626;
  height: 10%;
  width: 100%;
  border: solid #D92332 4px;
  border-bottom: none;
}

.logo{
  margin-top: -20px;
  margin-left: -10px;
  height: 150px;
  width: 150px;
}

/*Icons Nav*/

.fa-shopping-cart{
  position: absolute;
  right: 0;
  font-size: 30px;
  padding: 20px;
  color: white;
  transition: color 0.5s ease-in;
}

.fa-search{
  position: absolute;
  right: 50px;
  font-size: 30px;
  padding: 20px;
  color: white;
  transition: color 0.3s ease-in;
}

.fa-user{
  position: absolute;
  right: 100px;
  font-size: 30px;
  padding: 20px;
  color: white;
  transition: color 0.3s ease-in;
}

.fas:hover{
  color: #D92332;
}

/*////////////////*/

/*Main page*/

.main-page{
  margin-top: 10vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #262626;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: solid #D92332 4px;
  border-top: none;
}

/*Name div*/

.store-name{
  position: absolute;
  margin-top: 25vh;
  margin-left: 15%;
  text-align: center;
  width: 200px;
}

.name{
  font-size: 100px;
  color: #D92332;
  font-family: 'Rock Salt', cursive;
}

.a-explore{
  text-decoration: none;
}

.explore{
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-left: 115px;
  font-family: 'Permanent Marker', cursive;
  transition: all 0.5s ease-in-out;
}

.explore:hover{
  margin-left: 80px;
  font-size: 50px;
  color: #D9A91A;
  /*text-decoration: underline;*/
}

/*.btn-enter{*/
/*  font-size: 20px;*/
/*  font-family: 'Rock Salt', cursive;*/
/*  margin-top: 50px;*/
/*  margin-left: 120px;*/
/*  background-color: #D92332;*/
/*}*/

/*.btn-enter:hover{*/
/*  background-color: #F21D2E;*/
/*}*/


/*////////////////*/

/*Itachi*/

.image-container {
  margin-right: 50px;
  float: right;
  height: 900px;
  width: 600px;
  background: url('../img/landing_page/itachi_before.png') center center no-repeat;
  background-size: contain;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.image-container:hover {
  background-image: url('../img/landing_page/itachi_hover.png');
  width: 550px;
}

/*////////////////*/