{% extends 'base.html' %}
{% load static %}
{% block title %}{% if request.user.is_authenticated %}
                {{ request.user.username }}
                {% else %}
                Guest
                {% endif %}
                Checkout{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/checkout_page.css' %}">{% endblock %}


{% block content %}

<!--Made by hiizeus https://codepen.io/hiizeus/pen/xxOJLVg-->
<!--Loading circle-->

<div id="loading" class="page-wrapper">
  <div class="loading-wrapper">
    <div class="info circle"></div>
    <div class="loadingimage">
      <img src="https://emoji.gg/assets/emoji/5568_nekololidance.gif" alt="Loading">
    </div>
  </div>
</div>

<!--//////////////-->

<!--Id body hidden until page fully loaded, to resolve loading json response on screen-->

<div id="body" style="display:none;">

<div class="wrapper">

<table class="spacing-table">
  <tr style="border-bottom: 1px solid #000;">
    <th>
      <h5 style="font-weight:bold;">Item Details</h5>
    </th>
    <th>
    </th>
    <th>
      <h5 style="font-weight:bold;">Price</h5>
    </th>
    <th>
      <h5 style="margin-left:15px;font-weight:bold;">Quantity</h5>
    </th>
    <th>
    </th>
    <th>
    </th>
  </tr>
    {% for item in items %}

   <tr style="border-bottom: 1px solid #000;">
    <td>
      <div class="itm-img"><img src="/media/{{ item.item.first_image.image }}"></div>
    </td>
    <td><div class="itm-name"><p>{{ item.item.name }}</p>
    </td>
    <td>
      <div style="color:#F22929;" class="price-div"><p>${{ item.total_price }}</p></div>
    </td>
    <td>
      <div class="quantity-cont">
        <form method="POST" action="{% url 'checkout_update_quantity' entry=item.id %}">
          {% csrf_token %}
    <button type="button" id="minus" class="minus plus-minus" onclick="decrementValue({{item.id}})" title="Remove From Cart">-</button>
    <input id="quantity{{item.id}}" class="quantity"  value="{{ item.quantity }}" name="quantity" readonly></input>
    <button type="button" id="plus" class="plus plus-minus" onclick="incrementValue({{item.id}})" title="Add To Cart">+</button>
    </div>
    </td>
    <td>
       <div class="btn-update"><button type="submit" class="update-btn" title="Update Quantity" style="margin-left:100px;">UPDATE</div>
  </form>
    </td>
     <td>
      <div>
      <a class="delete-itm" id="delete-entry{{item.id}}" data-id="{{item.id}}" href="{% url 'checkout_remove_entry' entry=item.id %}" title="Delete Entry">X</a>
      </div>
  </div>
     </td>
  </tr>
  {% endfor %}

</table>
  <hr>

</div>

<!--Tot amount-->
{% if items %}

<div class="tot" style="float:right; margin:20px 100px 50px auto;font-family: 'Roboto',sans-serif;"><p>Subtotal ${{ subtotal }}</p>
  <br>
       <p>Delivery $4.99</p>
  <hr>
  <h5>Total<span style="font-size:12px;">(include GST)</span> ${{ total|floatformat:2 }}</h5>
    <button class="btn btn-success" style="margin-top:20px;margin-left:30px;" id="submitBtn" title="Checkout">Checkout</button>
</div>


{% else %}

<h1 style="text-align:center;">Your cart is empty</h1>

{% endif %}

<!--/////////-->


</div>





<script src="https://js.stripe.com/v3/"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/checkout_page.js' %}"></script>

{% endblock %}