{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Cancelled {% endblock %}

{% block content %}

<div class="cont">
 <i class="fa fa-times-circle failed" aria-hidden="true"></i>
  <h1>PAYMENT FAILED</h1>
</div>
<div style="width:100%;">
  <img class="img-fail" style="margin:auto;display:block;z-index:-1;" src="{% static 'img/checkout/payment_failed.gif' %}">
</div>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cont{
  text-align:center;
  margin-top: 230px;
}

.cont h1{
  font-size: 80px;
  font-family: 'Bebas Neue', cursive;
  z-index: 99;
}

.failed{
  color: red;
  font-size: 70px;
  z-index: 99;
}

@media (max-width:550px){
  .img-fail{
    height:160px;
  }
}

</style>

{% endblock %}