body{
  margin: 0;
  overflow: hidden;
}

.img-c{
  position: absolute;
  background-image:url("../../img/login/background.png");
  background-size: cover;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.logo-cont{
  text-align: center;
}

.logo{
  height: 200px;
  width: 200px;
}

.login{
  margin-top: 5%;
  text-align: center;
  margin-left: 10%;
  position: absolute;
  padding: 2% 2% 2% 2%;
  background-color: #FFFFFF;
  width: 40%;
  border-radius: 25px;
  line-height: 2rem;
}

input{
  width: 100%;
  height: 2.5rem;
  border-color: transparent;
  border-bottom-color: red;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.lf{
  line-height: 3rem;
}

input[type="submit"]{
  font-weight: bold;
  background: #f3f4ed;
  color: #f05454;
}

.rst{
  margin-top: 10px;
}

.reset{
  text-decoration: none;
  font-size: 14px;
}

.btn{
  height: auto;
  width: 100%;
}

input[type="submit"]:hover{
  border: 2px red;
  border-radius: 5px;
  outline: none;
  background: #f05454;
  color: #f3f4ed;
  cursor: pointer;
}

input[type="password"]:focus, input[type="email"]:focus{
  border: 2px solid red;
  border-radius: 5px;
  outline: none;
  -webkit-transition : border 700ms ease-out;
  -moz-transition : border 700ms ease-out;
  -o-transition : border 700ms ease-out;
  transition : border 700ms ease-out;
}

.signup{
  width: 100%;
  item-align: center;
  margin-top: 40px;
}


@media screen and (max-width: 844px){

  .store-name{
    margin-top: 20%;
  }

  .login{
    margin: 50px 0 0 0;
    width: 100%;
    position: relative;
  }

  .img-right{
    display: none;
  }
}

.img-right{
  background: url("../../img/login/chrollo.png")  center center no-repeat;
  float: right;
  height: 1200px;
  width: 100%;
  margin-right: -420px;
  margin-top: -300px;
}