<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/user/sign_in.css' %}">

</head>
<body>
<div class="logo-cont">
<a href="{% url 'landing_page' %}"><img title="Back" class="logo" src="{% static 'img/landing_page/logo.png' %}"></a>
</div>
<div class="login">
    <form class="login-f" method="POST" action="{% url 'login' %}" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="lf"><input name="email" type="email" class="email" placeholder="Email"/></div>
      <div class="lf"><input name="password" type="password" class="password" placeholder="Password"/></div>
      <div class="lf"><button type="submit" class="btn btn-primary btn-lg" value="Log In">Log In</button></div>
    </form>
  <div class="rst"><a class="reset" href="">Reset Password</a></div>
  <hr>
  <div class="signup"><button class="btn btn-success" href="{% url 'signup' %}">Create New Account</button></div>
    </div>
<div class="img-right"></div>

{% if error %}
<h1 style="color:white">Error</h1>
{% endif %}


</body>
</html>
