.orders-wrapper{
  margin-top: 100px;
  margin-left: 20px
}

.order{
  margin-bottom: 20px;
}

.order h2{
  font-size: 25px;
}

.name{
  font-size: 20px;
  margin-left:-60px;
  font-weight: normal;
}

.orders-wrapper hr{
  margin-bottom: 50px;
  margin-top:50px;
  margin-left: 20%;
  margin-right: 20%;
}

.order h4{
  opacity: 0.5;
  font-size: 15px;
  margin-top: -20px;
  margin-left:20px;
}

/*Table*/

td{
  width: 20em;
  height: 5em;
}

table{
 margin-top: -50px;
 border-collapse:separate;
 border-spacing: 15px;
}

.spacing-table th {
  text-align: left;
  padding-bottom: 10px;
}

/*Phone layout*/

@media (max-width:1080px){

  .other-sections{
    display: none;
  }

  .ph-menu{
    display: block !important;
  }
}

@media (max-width:650px){

  .img-tab{
    display:none;
  }

  table{
    margin-left: 50px;
    border-spacing: 5px;
  }

  td, th{
    width:50%;
  }

}

@media (max-width:440px){

.q-tab{
  visibility:hidden;
}

}