@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.wrapper{
  margin-top: 150px;
  height: 100%;
  width: 70%;
  font-family: 'Roboto',sans-serif;
}

.acc-t{
  text-align:center;
  margin-top:10px;
  font-weight: 40px;
  font-weight:bold;
  color:#FF2626;
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
}

/* User Icons */

.info-div .fas, .info-div .far{
  font-size: 40px;
  margin-right: 15px;
}

.fa-hand-point-right{
  color:#FF5F7E;
}

.fa-user-circle{
  color:#84DFFF;
}

.fa-at{
  color:#F0BB62;
}

.fa-hand-peace{
  color:#8236CB;
}

/* Account Details Icons */

.fa-phone-square-alt{
  color: #6ECB63;
}

.fa-house-user{
  color: #FFB319;
}

.fa-building{
  color: #3DB2FF ;
}

.fa-city{
  color: #787A91;
}

.fa-map-marker-alt{
  color: #5C7AEA;
}

/* ///////// */

.info-div{
  margin:5%;
  border-radius: 15px;
  border: solid 1px grey;
}

.row{
  height: 100px;
  width: 100%;
  margin-bottom: 50px;
}

.col{
  display:flex;
  width: 50%;
  margin-left: 50px;
  margin-top: 25px;
}

.col span{
  font-weight: bold;
}

.account-detail-div h2{
  text-align:center;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  text-align:center;
  margin-top:70px;
  color:#FF2442;
  margin-bottom:70px;
  font-size: 50px;
}

/*Phone nav*/

@media (max-width:730px){

  .info-div{
    border: none;
    margin-left: -40px;
  }

  .phone-n-div{
    margin-bottom: 0 !important;
    text-align: left !important;
  }

  .info-div h5, .info-div h3, .info-div span{
    font-size: 18px;
  }

  .info-div .fas, .info-div .far{
    font-size: 25px;
  }

}