{% extends 'base.html' %}
{% load static %}

{% block title %}Anime Slash-{{ item.name.title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/store/item_page.css' %}">{% endblock %}
{% block content %}

<!--Added to cart div-->

<div id="change-div">
<div class="added" id="added"><div class="img-cart"><img src="/media/{{item.first_image.image}}"></div>
  <div class="details" style="float:right;"><h5 id="q-add" style="margin-top:20px;margin-left:50px;"></h5><h5 style="margin-left:25px;">{{ item.name }}</h5>
  </div>
</div>


<!--Item div-->

<div class="wrapper">
  <div class="img-cont">
    <img src="/media/{{item.first_image.image}}">
  </div>
  <div class="item-section">
    <div class="item-infos">
      <h1>{{ item.name }}</h1>
      <p class="description">{{ item.description }}</p>
      <br>
       <p style="display:inline-block;">Price:</p>
   <p class="price-txt">$</p>
   <p class="price-txt">{{ item.price }}</p>
   <br>
      <span class="rev" style="display:inline;">
                <span class="fa fa-star {% if item.average_review.avg > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 4 %} checked {% endif %}"></span>
                <p style="display:inline;">{{ item.average_review.count | stringformat:".0f" }}
                {% if item.average_review.count == 1 %} review
                {% else %} reviews {% endif %}</p>
      </span>
      <form method="POST" id="form" action="{% url 'add_item' item_id=item.id %}">
      {% csrf_token %}
      <button type="button" id="minus" class="plus-minus btn btn-danger" onclick="decrementValue()">-</button>
      <input id="quantity" class="quantity"  value="1" name="quantity" readonly></input>
      <button type="button" id="plus" class="plus-minus btn btn-danger" onclick="incrementValue()">+</button>
      <button class="add btn btn-success" type="submit">Add to Cart</button>
      </form>
    </div>
    </div>
      <br>
</div>

<hr>

<!--Reviews section-->

<div style="margin-top:50px;min-height: 200px;">
  <h1 style="text-align:center;font-family:'Roboto',sans-serif;"> Reviews </h1>

  {% for review in reviews %}
  {% with x|center:review.rating as range %}
  <div class="user-rev">
    <h5 class="username rev">{{ review.username.username }}</h5>
  <span class="rev">
    {% for x in range %}
    <span class="fa fa-star checked"></span>
    {% endfor %}</span>
  <p class="review-txt" name="review_id">{{ review.review }}</p>
  </div>
  <p class="date">{{ review.posted }}</p>
  {% endwith %}
  {% endfor %}

  {% if more_reviews %}<a style="margin-left:150px;" href="{% url 'all_reviews' item_id=item.id %}">More reviews...</a>{% endif %}
</div>

<div style="width:100%">
  <div style="margin:auto;">
<button style="margin:60px auto -50px 45%;" class="btn btn-outline-success"
 {% if user.is_authenticated %} onclick="openDiv()"
 {% else %} onclick="openLogDiv()"
 {% endif %}>Write Review</button>
 </div>
</div>

<hr style="margin-bottom: 50px;">

<!--Reccomendation section-->

 <div class="reccomendations row">
   <h3 style="text-align:center;margin-bottom:50px;opacity:0.5;">Related Products</h3>
   {% for item in reccomendations %}
   <div class="rec-cont col">
     <a href="{% url 'item_page' item_id=item.id %}"><img src="/media/{{ item.first_image.image }}"></a>
     <p>{{ item.name }}</p>
     </div>
     {% endfor %}
 </div>

 </div>

 <!--Post review div-->

<div id="rev-wrap-div" class="rev-wrap">
  <a title="Close" class="close-rev" onclick="closeDiv()">X</a>
  <form action="{% url 'post_review'  item_id=item.id %}" method="POST">
    {% csrf_token %}
  <div class="review-div">
    <div class="title-rev">
      <input name="title-rev-input" maxlength="15" type="text" placeholder="Title Review" required='True'>
      </input>
    </div>
    <div class="review-txt-div">
      <textarea name="txt-rev-description" maxlength="400" placeholder="Write here..." required='True'></textarea>
    </div>
     <fieldset class="rating">
    <input type="radio" id="star5" name="rating" value="5" required="True" /><label class="full" for="star5" title="5 stars"></label>
    <input type="radio" id="star4" name="rating" value="4" required="True" /><label class="full" for="star4" title="4 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" required="True" /><label class="full" for="star3" title="3 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" required="True" /><label class="full" for="star2" title="2 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" required="True" /><label class="full" for="star1" title="1 star"></label>
</fieldset>
  <br>
  <br>
    <button class="rev-btn btn btn-success" type="submit">Post</button>
  </div>
  </form>
</div>

<!--Sign in to post review div-->

<div style="text-align:center;margin-left: 10%;" id="log-wrap-div" class="rev-wrap">
  <a title="Close" class="close-rev" onclick="closeLogDiv()">X</a>
  <div style="text-align:center;">
    <h1>Sign In
      <br>
      to write a review</h1>
  </div>
    <a type="button" href="{% url 'login' %}" class="btn btn-success" style="margin-top:25px;" type="submit">Sign In</a>
  </div>

<!--//////////////-->

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/store/item_page.js' %}"></script>

{% endblock %}
