{% extends 'base.html' %}
{% load static %}

{% block title %}Anime Slash-{{ item.name.title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/store/item_page.css' %}">{% endblock %}

{% block content %}

<div class="wrapper">
  <div class="img-cont">
    <img src="/media/{{item.first_image.image}}">
  </div>
  <div class="item-section">
    <div class="item-infos">
      <h1 style="text-align:center;font-size: 45px;">{{ item.name.title }}</h1>
      <p class="description">{{ item.description }}</p>
    </div>
      <br>
      <span class="rev">⭐⭐⭐⭐⭐</span><h5 class="rev"># reviews</h5>
      <br>
      <form method="POST" action="{% url 'add_item' item_id=item.id %}">
      {% csrf_token %}
      <button type="button" id="minus" class="plus-minus btn btn-danger" onclick="decrementValue()">-</button>
      <input id="quantity" class="quantity"  value="1" name="quantity" readonly></input>
      <button type="button" id="plus" class="plus-minus btn btn-danger" onclick="incrementValue()">+</button>
      <button class="add btn btn-success" type="submit">Add to Cart</button>
      </form>
    </div>
</div>
<hr>
<div style="margin-top: 50px;">
  <h1 style="text-align:center;"> Reviews </h1>
  <div class="user-rev"><h5 class="username rev">Username</h5><span class="rev">⭐⭐⭐⭐⭐</span>
  <p class="review-txt" name="review_id">Post content</p>
  </div>
  <p class="date">Timestamp</p>
</div>


<script src="{% static 'js/store/item_page.js' %}"></script>

{% endblock %}
