{% extends 'base.html' %}
{% load static %}

{% block title %}Anime Slash-{{ item.name.title }}{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/store/item_page.css' %}">{% endblock %}
{% block content %}

<div class="added" id="added"><div class="img-cart"><img src="/media/{{item.first_image.image}}"></div>
  <div class="details" style="float:right;"><h5 id="q-add" style="margin-top:20px;margin-left:50px;"></h5><h5 style="margin-left:25px;">{{ item.name }}</h5>
  </div>
</div>

<div class="wrapper">
  <div class="img-cont">
    <img src="/media/{{item.first_image.image}}">
  </div>
  <div class="item-section">
    <div class="item-infos">
      <h1 style="text-align:center;font-size: 45px;">{{ item.name.title }}</h1>
      <p class="description">{{ item.description }}</p>
    </div>
      <br>
      <span class="rev">
        {% with i|center:avg_rating_data.rating as rating_range %}
        {% for i in rating_range %}⭐{% endfor %}
        {% endwith %}
      </span><h5 style="opacity:0.5;" class="rev">{{ avg_rating_data.counter }} reviews</h5>
      <br>
      <form method="POST" id="form" action="{% url 'add_item' item_id=item.id %}">
      {% csrf_token %}
      <button type="button" id="minus" class="plus-minus btn btn-danger" onclick="decrementValue()">-</button>
      <input id="quantity" class="quantity"  value="1" name="quantity" readonly></input>
      <button type="button" id="plus" class="plus-minus btn btn-danger" onclick="incrementValue()">+</button>
      <button class="add btn btn-success" type="submit">Add to Cart</button>
      </form>
    </div>
</div>
<hr>
<div style="margin-top: 50px;min-height: 200px;">
  <h1 style="text-align:center;"> Reviews </h1>

  {% for review in reviews %}
  {% with x|center:review.rating as range %}
  <div class="user-rev">
    <h5 class="username rev">{{ review.username.username }}</h5>
  <span class="rev">
    {% for x in range %}
    ⭐
    {% endfor %}</span>
  <p class="review-txt" name="review_id">{{ review.review }}</p>
  </div>
  <p class="date">{{ review.posted }}</p>
  {% endwith %}
  {% endfor %}

</div>

<hr style="margin-bottom: 50px;">

 <div class="reccomendations row">
   {% for item in reccomendations %}
   <div class="rec-cont col">
     <a href="{% url 'item_page' item_id=item.id %}"><img src="/media/{{ item.first_image.image }}"></a>
     <p>{{ item.name.title }}</p>
     </div>
     {% endfor %}
 </div>


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/store/item_page.js' %}"></script>

{% endblock %}
