{% extends 'base.html' %}
{% load static %}

{% block title %}Anime Store{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/store/main_store.css' %}">{% endblock %}

{% block content %}

<div class="row">
{% for item in all_items %}
    <div class="item-cont col-6 col-sm-3">
      {% if item.first_image.image %}
      <a href="{% url 'item_page' item_id=item.id %}"><img class="item-img" src="/media/{{item.first_image.image}}"></a>
      {% endif %}
      <h1 class="item-title">{{ item.name }}</h1>
      <p>${{ item.price }}</p>
      <form class="add-to-cart" method="POST" action="{% url 'add_item' item_id=item.id %}">
        {% csrf_token %}
      <button class="cart-btn btn btn-success" type="submit" title="Add to Cart">+</button>
      </form>
    </div>
{% endfor %}
</div>


{% endblock %}