{% extends 'base.html' %}
{% load static %}
{% load pagination_tag %}

{% block title %} Anime Slash {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'css/store/main_store.css' %}"> {% endblock %}

{% block content %}

{% include 'sort_by.html' %}

<div class="row">

{% for item in all_items %}

<!--Added to cart div-->
<div class="added" id="added{{item.id}}"><div class="img-cart"><img src="/media/{{item.first_image.image}}"></div>
  <div class="details" style="float:right;"><h5 style="margin-top:20px;margin-left:50px;">1</h5><h5 style="margin-left:15px;">{{ item.name|truncatechars:10 }}</h5>
  </div>
</div>
<!--/////////////-->

    <div class="item-cont col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="img-cont">
      <a href="{% url 'item_page' item_id=item.id %}"><img class="item-img" src="/media/{{item.first_image.image}}"></a>
      </div>
      <h1 class="item-title">{{ item.name|truncatechars:20 }}</h1>
      <p class="price-txt" style="font-size:15px;">$</p><p class="price-txt" style="font-size:20px;vertical-align:top;">{{ item.price }}</p>
       <br>
       <!--Rating stars-->
      <div style="margin-left:10px;text-align:left;">
                <span class="fa fa-star {% if item.average_review.avg > 0 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 1 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 2 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 3 %} checked {% endif %}"></span>
                <span class="fa fa-star {% if item.average_review.avg > 4 %} checked {% endif %}"></span>
                <p style="display:inline-block;font-size:15px;">
                {{ item.average_review.count | stringformat:".0f" }}
                {% if item.average_review.count == 1 %} review
                {% else %} reviews {% endif %}</p>
  </div>
  <!--////////////-->
      <form class="add-to-cart" id="form-item{{item.id}}" method="POST" action="{% url 'add_item' item_id=item.id %}">
        {% csrf_token %}
      <button class="add cart-btn" id="add" data-id="{{item.id}}" type="submit" title="Add to Cart"><span>+</span></button>
      </form>
    </div>
{% endfor %}
</div>

<div style="width:100%;">
<div class="pagination-div">
{% if all_items.has_other_pages %}
  <ul class="pagination">
    <!--First-->
    {% if all_items.has_previous %}
    <li><a title="First" class="page-n btn btn-outline-danger" href="?{% param_replace page=1 %}">&laquo;</a></li>
    {% endif %}
    <!--...-->
    {% if all_items.number|add:'-2' > 1 %}
   <li><a class="page-n btn btn-outline-danger" href="?{% param_replace page=all_items.number|add:'-3' %}">&hellip;</a></li>
    {% endif %}
    <!--Pages N-->
    {% for i in all_items.paginator.page_range %}
      {% if all_items.number == i %}
        <li class="current active btn btn-outline-danger"><span>{{ i }}</span></li>
        {% elif i > all_items.number|add:'-3' and i < all_items.number|add:'3' %}
        <li><a class="page-n btn btn-outline-danger" href="?{% param_replace page=i %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    <!--...-->
    {% if all_items.paginator.num_pages|add:'1' > all_items.number|add:'3' %}
    <li><a class="page-n btn btn-outline-danger" href="?{% param_replace page=all_items.number|add:'3' %}">&hellip;</a></li>
    {% endif %}
    <!--Last-->
    {% if all_items.has_next %}
      <li><a title="Last" class="page-n btn btn-outline-danger" href="?{% param_replace page=tot_pages %}">&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>

{% include 'footer.html' %}


<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/store/main_store.js' %}"></script>


{% endblock %}