@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body{
  background-color: #FFFFFF;
}

/*Added to Cart div*/
.added{
  opacity: 0;
  height: 100px;
  width: auto;
  top: 70px;
  right: 5px;
  padding-right: 10px;
  display: flex;
  z-index:98;
  border: solid 1px #FABB51;
  border-radius: 5px;
  position: fixed;
  background-color: #FFFCDC;
  font-family: 'Roboto',sans-serif;
  transition: opacity 0.5s;
}


.img-cart{
  height: 75px;
  width: 75px;
  margin-top: 13px;
  margin-left: 5px;
}

.img-cart img{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: fill;
}


/*//////////////////////*/

.wrapper{
  width: 99%;
  margin-top: 150px;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/*Item Img*/

/*For zoom*/

.zoom-cont{
  overflow: hidden;
  cursor: zoom-in;
  position:relative;
}

.zoom-img{
  overflow: hidden;
}

/*////////*/

.img-cont{
  margin-top: 50px;
  margin-left: 50px;
  width:30%;
}

.main-img-cont{
  overflow: hidden;
  height: auto;
  max-height: 500px;
  width: auto;
  min-width: 90%;
  max-width: 600px;
  justify-content: center;
}

#main-img{
  transition: transform 0.5s ease-out;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.other-imgs{
  margin-top: 50px;
  width: auto;
  height: 60px;
  display: flex;

}
.other-imgs div{
  margin-right: 15px;
}

.other-imgs img{
  display: inline-block;
  height: 60px;
  width: 60px;
  object-fit: contain;
  cursor: pointer;
}

.other-imgs div:last-child{
  margin-right: 0;
}

.other-imgs img:hover{
  opacity: 0.5;
  border: solid red;
}

/*///////////*/

.item-section{
  margin-top:  -50px;
  margin-left: 30px;
  width: 100%;
  text-align: left;
}

.item-infos{
  height: auto;
  min-width: 100%;
  width: auto;
  word-break: break-all;
  margin-top:100px;
}

.description{
  text-align:left;
  margin: 55px 10px 10px 10px;
  font-size: 20px;
}


/*Add To Cart Button*/

.quantity{
  margin-top: 32px;
  height: 35px;
  width: 40px;
  border: solid 1px grey;
  text-align: center;
  font-size: 18px;
}


.add{
  background-color: #7db700;
  border-radius: 0;
  border-color:#7db700;
  transition: all 0.5s ease;
  color:white;
  font-size: 20px;
  font-family:'Roboto',sans-serif;
  border-style: solid;
  height: 40px;
  width: 120px;
  margin-right: 50px;
  margin-left: 20px;
}

.add:hover{
  background-color: white;
  color: #7db700;
}

.plus-minus{
  text-align: center;
  height: 35px;
  width: 35px;
  background-color: white;
  border: solid 1px grey;
  font-size: 18px;
  transition: all 0.3s ease;
}

.minus:hover{
  color: #F22929;
  border-color: #F22929;
}

.plus:hover{
  color: #7db700;
  border-color: #7db700;
}

/*///////////////*/

.price-txt{
  display: inline-block;
  color: red;
  font-size:25px;
}

.hr-div{
  width: 80%;
  margin: 50px 10% auto 10%;
  text-align: center;
}

/*Stars Rating*/

.checked{
  font-size: 15px;
  color: #FFC107;
}

.rev{
  display: inline;
  margin-right:10px;
}


/* Review Section */

.user-rev{
  margin-left: 5%;
  margin-top: 50px;
  min-height: 50px;
  height: auto;
  width: 80%;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

.username{
  padding: 10px;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.review-txt{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.date{
  text-align: left;
  font-family:'Roboto', sans-serif;
  opacity: 50%;
  margin-left: 5%;
  padding: 10px;
}

.write-review{
  margin:60px auto -50px 45%;
  background-color: white;
  border-radius: 0;
  border-color:#F22929;
  transition: all 0.5s ease;
  color:#F22929;
  font-size: 20px;
  border:solid;
  height: 60px;
}

.write-review:hover{
  background-color: #F22929;
  color:white;
}

/*Reccomendations*/

.reccomendations{
  width: 100%;
  height: 20%;
  text-align: center;
  margin: 0;
}

.rec-cont{
  height: 100%;
}

.rec-cont img{
  max-width: 80%;
  height: 150px;
}

.rec-cont img:hover{
  opacity:0.5;
  border: solid 2px red;
  border-bottom: none;
}


/*Review Div */

.rev-wrap{
  position: fixed;
  left: 30%;
  top: 25%;
  padding: 50px;
  border: solid 1px grey;
  border-radius: 10px;
  display: none;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
  z-index: 99;
}

.close-rev{
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #F90716;
  font-size: 18px;
}

.close-rev:hover{
  color: #CD1818;
}

.review-div{
  height: 200px;
  width: 500px;
}

.title-rev{
  width: 100%;
  height: 50px;
}

.title-rev input{
  width: 100%;
  height: 40px;
  border: solid 1px grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.review-txt-div{
  width: 100%;
}

.review-txt-div textarea{
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Rating Review Div*/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
  float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }


/*Phone nav*/


@media (max-width:600px){

  .wrapper{
    display: block;
    padding: 0;
  }

  .img-cont{
    position:relative;
    margin: auto;
    min-width: 90%;
  }

  .main-img-cont{
    min-height: 400px;
    min-width: 90%;
    margin: auto;
  }

  .item-section{
    text-align: center;
    width: auto;
    margin: 5px;
  }

  .description{
    text-align: center;
  }

  .plus-minus{
    margin-bottom: 10px;
  }

  .add{
    margin: auto;
    margin-bottom: 0;
  }

  .ph-rev{
    text-align:center;
  }

  .write-review{
    width: 100px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    margin-top: 50px;
  }

  .reccomendations img{
    object-fit:contain;
  }

}
