@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body,html{
  background-color: #FFFFFF;
  min-height: 100%;
}

/*Added to Cart div*/
.added{
  visibility: hidden;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  top: 80px;
  right: 5px;
  display: flex;
  z-index:99;
  border: solid 1px black;
  position: fixed;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}


.img-cart{
  height: 75px;
  width: 75px;
  margin-top: 13px;
  overflow: hidden;
}

.img-cart img{
  border-radius: 5px;
  height: 75px;
  width: 75px;
}


/*//////////////////////*/

.wrapper{
  margin-top: 150px;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.img-cont{
  float: 1;
  margin-left: 100px;
  max-height: 400px;
  width: 600px;
  justify-content: center;
  margin-top: 100px;
}

.img-cont img{
  width: 100%;
  max-height: 400px;
  object-fit: fill;
}

.item-section{
  margin-top:  -50px;
  margin-left: 30px;
  width: 100%;
  text-align: left;
}

.item-infos{
  height: auto;
  min-width: 100%;
  width: auto;
  word-break: break-all;
  margin-top:100px;
}

.description{
  text-align:left;
  margin: 55px 10px 10px 10px;
  font-size: 20px;
}

.quantity{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 32px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
  border: solid 1px black;
  text-align: center;
}

.add{
  border-radius: 10px;
  height: 40px;
  width: 120px;
  margin-right: 50px;
  margin-left: 20px;
}

.plus-minus{
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  margin-bottom:5px;
  padding: 0px;
  background-color: #FF4848;
}

.checked{
  font-size: 15px;
  color: #FFC107;
}

.rev{
  display: inline;
  margin-right:10px;
}

.price-txt{
  display: inline-block;
  color: red;
  font-size:25px;
}

hr{
  width: 80%;
  margin: 100px 10% auto 10%;
  text-align: center;
}

/* Review Section */


.user-rev{
  margin-left: 5%;
  margin-top: 50px;
  min-height: 50px;
  height: auto;
  width: 80%;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  overflow: auto;
  white-space: normal;
  word-wrap: break-word;
}

.username{
  padding: 10px;
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.review-txt{
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.date{
  text-align: left;
  font-family:'Roboto', sans-serif;
  opacity: 50%;
  margin-left: 5%;
  padding: 10px;
}

/*Reccomendations*/

.reccomendations{
  width: 100%;
  height: 20%;
  text-align: center;
  margin: 0;
}

.rec-cont{
  height: 100%;
}

.rec-cont img{
  max-width: 80%;
  height: 80%;
}


/*Review Div */

.rev-wrap{
  position: fixed;
  left: 30%;
  top: 25%;
  padding: 50px;
  border: solid 1px grey;
  border-radius: 10px;
  display: none;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  opacity: 1;
}

.close-rev{
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #F90716;
  font-size: 18px;
}

.close-rev:hover{
  color: #CD1818;
}

.review-div{
  height: 200px;
  width: 500px;
}

.title-rev{
  width: 100%;
  height: 50px;
}

.title-rev input{
  width: 100%;
  height: 40px;
  border: solid 1px grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.review-txt-div{
  width: 100%;
}

.review-txt-div textarea{
  width: 100%;
  height: 150px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Rating*/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > label {
  color: #ddd;
 float: right;
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }