body{
    background-color: #F6F6F6;
    overflow:hidden;
    z-index: 3;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
}

/*Added to Cart div*/
.added{
  visibility: hidden;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  top: 80px;
  right: 5px;
  display: flex;
  z-index:99;
  border: solid 1px black;
  position: fixed;
  background-color: white;
}

.img-cart{
  height: 75px;
  width: 75px;
  margin-top: 13px;
  overflow: hidden;
}

.img-cart img{
  border-radius: 5px;
  height: 75px;
  width: 75px;
}


/*//////////////////////*/

.row{
    margin:50px 1px 0 1px;
}

.item-cont{
    padding: 10px;
    background-color: white;
    height: auto;
    max-height: 350px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
}

.item-img{
    height: 70%;
    min-width: 80% !important;
    margin-left: 10px;
    border-radius: 5px;
}

.item-title{
    padding: 5px;
}

.cart-btn{
  margin-top: -50px;
  float: right;
  border-radius: 50%;
}

/*Pagination*/

.pagination-div{
  margin-left: 40%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.page-n, .current{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 25px;
}

.current{
  cursor: default;
}

.page-n:hover{
  color: white;
}

.pagination button{
  width: 30px;
  height: 30px;
}