body{
    background-color: #F6F6F6;
    z-index: 3;
    overflow-x: hidden;
}

/*Added to Cart div*/
.added{
  opacity: 0;
  height: 100px;
  width: auto;
  top: 70px;
  right: 5px;
  padding-right: 10px;
  display: flex;
  z-index:98;
  border: solid 1px #FABB51;
  border-radius: 5px;
  position: fixed;
  background-color: #FFFCDC;
  font-family: 'Roboto',sans-serif;
  transition: opacity 0.5s;
}


.img-cart{
  height: 75px;
  width: 75px;
  margin-top: 13px;
  margin-left: 5px;
}

.img-cart img{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: fill;
}


/*//////////////////////*/

.row{
    margin:50px 1px 0 1px;
}

.item-cont{
    padding: 10px;
    background-color: white;
    height: auto;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-family: 'Roboto',sans-serif;
}

.checked{
  font-size: 15px;
  color: #FFC107;
}


.img-cont{
  max-height: 250px;
  width: 100%;
  margin-top: 13px;
}

.img-cont img{
  width: 100%;
  max-height: 250px;
  object-fit: fill;
}

.price-txt{
  display: inline-block;
  font-size:15px;
}

.item-title{
  padding: 5px;
}

.cart-btn{
  background-color: #7db700;
  margin-top: -50px;
  float: right;
  border-radius: 0;
  border-color:#7db700;
  transition: all 0.5s ease;
  color:white;
  font-size: 20px;
  font-family:'Roboto',sans-serif;
  border-style: solid;
  min-width: 40px;
  min-height: 40px;
}

.cart-btn:hover span {
  display: none;
}

.cart-btn:hover:before {
  content: "ADD";
}

.cart-btn:hover{
  background-color: white;
  color: #7db700;
  font-weight: bold;
}

.sort-btn{
  height:25px;
  text-align:center;
  margin-top:-5px;
  line-height:5px;
  background-color:#7db700;
  border-color:#7db700;
  border-radius:0;
  color:white;
  border-style:solid;
  font-size:18px;
  transition: all 0.5s ease;
}

.sort-btn:hover{
  background-color: white;
  color: #7db700;
}

/*Pagination*/

.pagination-div{
  margin-left: 45%;
  width: 100%;
  margin-top: 90px;
}

.page-n, .current{
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-right: 15px;
  border-color:#F22929;
  font-weight: 600;
}

.current{
  cursor: default;
  background-color:#F22929;
}

.page-n:hover{
  color: white;
  background-color:#F22929;
}

.pagination button{
  width: 20px;
  height: 20px;
}
