body{
    background-color: #F6F6F6;
    z-index: 3;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/*Added to Cart div*/
.added{
  visibility: hidden;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  top: 80px;
  right: 5px;
  display: flex;
  z-index:99;
  border: solid 1px black;
  position: fixed;
  background-color: white;
  font-family: 'Roboto',sans-serif;
}

.img-cart{
  height: 75px;
  width: 75px;
  margin-top: 13px;
  overflow: hidden;
}

.img-cart img{
  border-radius: 5px;
  height: 75px;
  width: 75px;
}


/*//////////////////////*/

.row{
    margin:50px 1px 0 1px;
}

.item-cont{
    padding: 10px;
    background-color: white;
    height: auto;
    max-height: 500px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    font-family: 'Roboto',sans-serif;
}

.checked{
  font-size: 15px;
  color: #FFC107;
}


.img-cont{
  max-height: 250px;
  width: 100%;
  margin-top: 13px;
}

.img-cont img{
  border-radius: 5px;
  width: 100%;
  max-height: 250px;
  object-fit: fill;
}

.price-txt{
  display: inline-block;
  font-size:15px;
}

.item-title{
  padding: 5px;
}

.cart-btn{
  margin-top: -50px;
  float: right;
  border-radius: 5px;
}

/*Pagination*/

.pagination-div{
  margin-left: 45%;
  width: 100%;
  margin-top: 90px;
}

.page-n, .current{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-right: 25px;
}

.current{
  cursor: default;
}

.page-n:hover{
  color: white;
}

.pagination button{
  width: 30px;
  height: 30px;
}