{% extends 'base.html' %}
{% load static %}

{% block title %}My Orders{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/account/my_orders.css' %}">{% endblock %}

{% block content %}

<div class="orders-wrapper">
    {% for order in completed_orders %}
  <div class="order">
    <h2>Order id: {{ order.id }} </h2>
    <br>
    <h4>Time of purchase: {{ order.purchased }}</h4>
    <br>
      <table>
      <tr>
     <th>
    </th>
      <th>
      <h5 style="font-weight:bold;">Name</h5>
    </th>
      <th>
      <h5 style="font-weight:bold;">Quantity</h5>
    </th>
      <th>
      <h5 style="font-weight:bold;margin-left:-80px;">Price</h5>
    </th>
       </tr>

    {% for entry in history_entries %}
    {% if entry.history_cart.id == order.id %}

    <div class="items-wrap">
      <div class="item-details">
        <tr>
          <td><img style="width:100px;height:100px;border-radius:50%;object-fit:contain;" src="/media/{{entry.item.first_image.image}}"></td>
          <td><h3 class="name">{{ entry.item.name|truncatechars:30 }}</h3></td>
          <td><p style="margin-left:40px;">{{ entry.quantity }}</p></td>
          <td><p style="margin-left:-80px;">${{ entry.item.price }}</p></td>
        </tr>
      </div>
    </div>
    <br>
    {% endif %}
    {% endfor %}
    </table>
    <h3 style="font-size:25px;margin-top:70px;">Tot price: <span style="color:red;">${{ order.tot_price }}</span</h3>
    <br>
  </div>
  <hr>
  {% endfor %}
</div>

{% include 'other_sections.html' %}

{% include 'footer.html' %}

{% endblock %}