{% extends 'base.html' %}
{% load static %}
{% block title %}My Reviews{% endblock %}

{% block css %}<link rel="stylesheet" href="{% static 'css/account/my_reviews.css' %}">{% endblock %}

{% block content %}
<div id="change-div" style="margin-top:150px;min-height:70vh;">
  {% for review in reviews %}
  {% with x|center:review.rating as range %}
  <div id="change-div" class="user-rev change">
   <a style="text-decoration:none;color:black;" href="{% url 'item_page' item_id=review.item.id %}">
       <h5 class="username rev" title="{{ review.item }}">{{ review.item|truncatechars:30 }}</h5>
       </a>
  <span class="rev">
    {% for x in range %}
    <span class="fa fa-star checked"></span>
    {% endfor %}</span>
  <p class="review-txt" name="review_id">{{ review.review }}</p>
  </div>
  <div style="display:flex;">
  <p class="date" syle="display:inline-block;">{{ review.posted }}</p>
  <a type="button" onclick="openDiv({{review.id}})" class="date" syle="display:inline-block;">Edit</a>
  <a type="button" onclick="confirmDelete({{review.id}})"class="date" syle="display:inline-block;">Delete</a>
  </div>
  {% endwith %}
  {% endfor %}
</div>


{% for review in reviews %}

  <!--Edit Review-->

<div id="rev-wrap-div{{review.id}}" class="rev-wrap">
  <a title="Close" class="close-rev" onclick="closeDiv({{review.id}})">X</a>
  <form action="{% url 'edit_review'  item_id=review.item.id review_id=review.id %}" method="POST">
    {% csrf_token %}
  <div class="review-div">
    <div class="title-rev">
      <input name="title-rev-input{{review.id}}" maxlength="15" type="text" value="{{review.title}}" title="Title" required='True'>
      </input>
    </div>
    <div class="review-txt-div">
      <textarea name="txt-rev-description{{review.id}}" maxlength="400" title="Review" required='True'>{{ review.review }}</textarea>
    </div>
     <fieldset class="rating" id="field-rating{{review.id}}">
    <input type="radio" id="star5{{review.id}}" name="rating{{review.id}}" value="5" required="True" /><label class="full" for="star5{{review.id}}" title="5 stars"></label>
    <input type="radio" id="star4{{review.id}}" name="rating{{review.id}}" value="4" required="True" /><label class="full" for="star4{{review.id}}" title="4 stars"></label>
    <input type="radio" id="star3{{review.id}}" name="rating{{review.id}}" value="3" required="True" /><label class="full" for="star3{{review.id}}" title="3 stars"></label>
    <input type="radio" id="star2{{review.id}}" name="rating{{review.id}}" value="2" required="True" /><label class="full" for="star2{{review.id}}" title="2 stars"></label>
    <input type="radio" id="star1{{review.id}}" name="rating{{review.id}}" value="1" required="True" /><label class="full" for="star1{{review.id}}" title="1 star"></label>
</fieldset>
  <br>
  <br>
    <button class="rev-btn btn btn-success" type="submit">Post</button>
  </div>
  </form>
</div>

<!--//////////////-->

<!--Delete Review-->

   <form action="{% url 'delete_review' review_id=review.id %}" method="POST">
     {% csrf_token %}
     <div id="confirm-delete-{{review.id}}" style="display:none;">
     <div class="dlt-rw">
     <a title="Close" class="close-rev" onclick="closeConfirmDelete({{review.id}})">X</a>
    <h3>Delete Review?</h3>
    <br>
    <button type="submit" class="btn btn-success">Confirm</button>
    </div>
     </div>
   </form>

<!--///////////////-->

{% endfor %}


{% include 'other_sections.html' %}

{% include 'footer.html' %}


<script>
function openDiv(review_id){
  document.getElementById('rev-wrap-div'+review_id).style.display = 'block';
  document.getElementById('change-div').style.opacity = '0.5';
}

function closeDiv(review_id){
  document.getElementById('rev-wrap-div'+review_id).style.display = 'none';
  document.getElementById('change-div').style.opacity = '1';
}

function confirmDelete(review_id){
  document.getElementById('confirm-delete-'+review_id).style.display = 'block';
  document.getElementById('change-div').style.opacity = '0.5';
}

function closeConfirmDelete(review_id){
   document.getElementById('confirm-delete-'+review_id).style.display = 'none';
   document.getElementById('change-div').style.opacity = '1';
}

</script>

{% endblock %}