<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% block css %}{% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&family=Permanent+Marker&family=Rock+Salt&display=swap" rel="stylesheet">

</head>
<body>

<!--Nav-->

<div id="nav" class="nav">
    <a href="{% url 'landing_page' %}"><img class="logo" src="{% static 'img/landing_page/logo.png' %}"></a>
    <a href="{% url 'checkout_page' %}"><i title="Your Cart" class="fas fa-shopping-cart fa-nav"></i></a>
    <i onclick="searchDiv()" title="Search" class="fas fa-search fa-nav"></i>
    {% if user.is_authenticated %}
    <i title="Account" class="fas fa-user fa-nav" id="user-menu"></i>
    {% else %}
    <a href="{% url 'login' %}"><i title="Account" class="fas fa-user fa-nav"></i></a>
    {% endif %}

<!--Categories menu-->

  <div id="dropdown" class="dropdown">
  <button class="dropbtn">☰</button>
  <div id="drop-menu" class="dropdown-content">
    <a href="{% url 'search_item' %}?items_category=ANIME">Anime</a>
     <a href="{% url 'search_item' %}?items_category=MANGA">Manga</a>
     <a href="{% url 'search_item' %}?items_category=ACTION_FIGURE">Action Figure</a>
     <a href="{% url 'search_item' %}?items_category=GAMING">Gaming</a>
     <a href="{% url 'search_item' %}?items_category=APPAREL">Apparel</a>
     <a href="{% url 'search_item' %}?items_category=OTHER">Other</a>
     <a href="{% url 'main_store' %}">All</a>
  </div>

</div>

</div>


<!--Search div-->

<div class="search-input-div" id="search_bar">
  <form action="{% url 'search_item' %}" method="GET">
     {% if items_category %}<input type="hidden" name="items_category" value='{{ items_category }}'>{% endif %}
    <input name="search-item" class="search-item-input"></input><input type="submit" value="Search"/>
    </form>
    </div>

<!--Account menu, only if user logged in-->

<div id="user-div" class="user-div">
    <a class="user-a" href="{% url 'user_details' %}">Account</a>
    <a class="user-a" href="{% url 'logout' %}">Log Out</a>
</div>

<!--////////////////-->


<!--Phone nav-->

<div class="navph">
    <i onclick="navMenu()" class="fas fa-ellipsis-v"></i>
     <a href="{% url 'landing_page' %}"><img class="logo" src="{% static 'img/landing_page/logo.png' %}"></a>
<div id="p-menu" class="side-slide-menu">
  <div class="menu-dp-nav">

    <div class="i-div">
      {% if user.is_authenticated %}
      <h5>Account</h5>
    <i title="Account" class="fas fa-user fa-nav" id="user-menu-ph"></i>
    {% else %}
    <a href="{% url 'login' %}"><h5>Account</h5></a>
    <a href="{% url 'login' %}"><i title="Account" class="fas fa-user fa-nav"></i></a>
    {% endif %}
      </div>
    <hr>
    <div class="i-div">
      <h5 onclick="searchDiv()">Search</h5>
    <i onclick="searchDiv()" title="Search" class="fas fa-search ph"></i>
    </div>
    <hr>
    <div class="i-div">
      <a href="{% url 'checkout_page' %}"><h5>Cart</h5><i title="Your Cart" class="fas fa-shopping-cart ph"></i></a>
      </div>
    <hr>
     <div class="i-div dropp">
      <div id="dropdownph" class="dropdownph">
      <h5>Categories</h5><button class="dropbtnph">☰</button>
      <div id="drop-menuph" class="dropdown-contentph">
    <a href="{% url 'search_item' %}?items_category=ANIME">Anime</a>
     <a href="{% url 'search_item' %}?items_category=MANGA">Manga</a>
     <a href="{% url 'search_item' %}?items_category=ACTION_FIGURE">Action Figure</a>
     <a href="{% url 'search_item' %}?items_category=GAMING">Gaming</a>
     <a href="{% url 'search_item' %}?items_category=APPAREL">Apparel</a>
     <a href="{% url 'search_item' %}?items_category=OTHER">Other</a>
     <a href="{% url 'main_store' %}">All</a>
  </div>
      </div>
      </div>
  </div>
</div>
</div>

<!--///////////////-->

{% block content %}

{% endblock %}


<script src="{% static 'js/base.js' %}"></script>

</body>
</html>
