
  <div class="other-sections">
      <ul>
        <a href="{% url 'user_details' %}"><li>Account</li></a>
        <a href="{% url 'my_orders' %}"><li>My Orders</li></a>
        <a href="{% url 'my_reviews' %}"><li>My Reviews</li></a>
        <a href="{% url 'edit_account' %}"><li>Edit Account</li></a>
        <a type="button" onclick="openDeleteAccount()"><li>Delete Account</li></a>
      </ul>
  </div>

   <form action="{% url 'delete_account' %}" method="POST">
     {% csrf_token %}
     <div id="confirm-delete" style="display:none;">
     <div class="dlt-acc">
     <a title="Close" class="close-acc" onclick="closeDeleteAccount()">X</a>
    <h3>Do you want to permanently delete your account?</h3>
    <br>
    <button type="submit" class="btn btn-danger">Confirm</button>
    </div>
     </div>
   </form>


<!--Menu button for phone-->

<button onclick="openMenuAcc()" class="ph-menu" title="Account Menu">
<i class="fas fa-plus" id="nav-menu-ph"></i>
</button>

<!--//////////////-->


<script>
  function openDeleteAccount(){
  document.getElementById('confirm-delete').style.display = 'block';
  document.getElementById('change-div').style.opacity = '0.5';
}

function closeDeleteAccount(){
  document.getElementById('confirm-delete').style.display = 'none';
  document.getElementById('change-div').style.opacity = '1';
}

function openMenuAcc(){
  var ph_menu = document.getElementById('nav-menu-ph');
  if(ph_menu.classList.contains('fa-plus')){
    ph_menu.classList.add('fa-minus');
    ph_menu.classList.remove('fa-plus');
    document.getElementsByClassName('other-sections')[0].style.display = 'block';
  }
  else{
    ph_menu.classList.add('fa-plus');
    ph_menu.classList.remove('fa-minus');
    document.getElementsByClassName('other-sections')[0].style.display = 'none';
  }
}
</script>

  <style>

.other-sections{
  position:fixed;
  right:50px;
  top:200px;
  border: solid grey;
  padding-right: 40px;
  background-color: white;
}

.other-sections a{
  text-decoration: none;
  color: black;
}

.other-sections a:hover{
  color: red;
}

.other-sections li{
  line-height: 80px;
  list-style-type: none;
}

.dlt-acc{
  position: fixed;
  text-align:center;
  border: solid grey;
  width: 400px;
  left: 30%;
  top: 25%;
  padding: 50px;
  background-color: white;
}

.close-acc{
  position: absolute;
  right: 10px;
  top: 0;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: #F90716;
  font-size: 18px;
}

.close-acc:hover{
  color: #CD1818;
}

.ph-menu{
  display:none;
  border-radius: 50%;
  align-items: center;
  background-color: #FF1700;
  color: white;
  border: solid 1px white;
  font-size: 30px;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 45px;
  bottom: 130px;
  z-index: 99;
}


@media (max-width:730px){

  .other-sections{
    display: none;
  }

  .ph-menu{
    display: block;
  }


  .ph-menu:hover{
    background-color:#F05454;
    color:white;
  }

  .dlt-acc{
    left: 20px;
    padding:10px;
    width:auto;
    font-size:12px;
  }
}

@media (max-width:400px){

  #nav-menu-ph{
    padding-left: 6px;
  }
}

  </style>