
  <div class="other-sections">
      <ul>
        <a href="{% url 'user_details' %}"><li>Account</li></a>
        <a href="{% url 'my_orders' %}"><li>My Orders</li></a>
        <a href="{% url 'my_reviews' %}"><li>My Reviews</li></a>
        <a href="{% url 'edit_account' %}"><li>Edit Account</li></a>
        <a href="{% url 'delete_account' %}"><li>Delete Account</li></a>
      </ul>
  </div>

  <style>
.other-sections{
  position:fixed;
  right:50px;
  top:200px;
  border: solid grey;
  padding-right: 40px;
  background-color: white;
}

.other-sections a{
  text-decoration: none;
  color: black;
}

.other-sections a:hover{
  color: red;
}

.other-sections li{
  line-height: 80px;
  list-style-type: none;
}
  </style>