<form method="GET" action="{% url 'search_item' %}">
  {% if searched_item %}<input type="hidden" name="searched_item" value='{{ searched_item }}'>{% endif %}
  {% if items_category %}<input type="hidden" name="items_category" value='{{ items_category }}'>{% endif %}
  <div style="margin-left:20px;margin-top:100px;">
    <p style="margin-bottom:-2px;">Sort by:</p>
  <select id="sort" name="sorting_by">
<option value="price">Price(Low First)</option>
<option value="-price">Price(High First)</option>
<option value="name">Name</option>
</select>
    <button style="height:25px;tex-align:center;font-size:15px;margin-top:-5px;line-height:5px;" type="submit" class="btn btn-success">Sort</button>
  </div>
</form>
